body{
	background-color:#00FFFF;
}
a{
	text-decoration:none;
	display: block;
	text-align: left;
	font-size:25px;
}
h1{
	text-align:center;
}
ul{
	list-style:none;
}
img{
	width:300px;
	height:300px;
}
h2{
	text-align:center;
}