body{
	background-color:#32CD32;
}
a{
	text-decoration:none;
}
h1{
	text-align:center;
}
ul{
	list-style:none;
	margin:0 auto;
	border:2px solid black;
	text-align:center;
	width:30%;
}
li{
	display:inline;
	padding-right:100px;
}
img{
	width:300px;
	height:300px;
}
h2{
	text-align:center;
}