p{
			color:purple;
			text-align:center;
		}
h3{
		color:purple;
		text-align:center;
	}
img{
	margin:0 auto;
	float:center;
}
ul{
	float:center;
}
table{
	display:inline-block;
	margin: 0 auto;
}

iframe {
	display:block;
	margin:0 auto; 
}

#center
{
	display:inline-block;
	margin-left: 175px;	
}
a{
	text-align:center;
}